<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.dao.UserMapperXml" >
    <resultMap id="BaseResultMap" type="com.example.demo.domain.UserEntity" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="userName" property="userName" jdbcType="VARCHAR" />
        <result column="passWord" property="passWord" jdbcType="VARCHAR" />
        <result column="user_sex" property="userSex" javaType="com.example.demo.enums.UserSexEnum"/>
        <result column="nick_name" property="nickName" jdbcType="VARCHAR" />
    </resultMap>
    
    <sql id="Base_Column_List" >
        id, userName, passWord, user_sex,nick_name
    </sql>

    <select id="getAll" resultMap="BaseResultMap"  >
       SELECT 
       <include refid="Base_Column_List" />
	   FROM usersxml
    </select>

    <select id="getOne" parameterType="java.lang.Long" resultMap="BaseResultMap" >
        SELECT 
       <include refid="Base_Column_List" />
	   FROM usersxml
	   WHERE id = #{id}
    </select>
    
    <select id="getMaxId" resultMap="java.lang.Integer" >
        SELECT  max(id) FROM usersxml
    </select>

   <select id="getOneByEntry" parameterType="com.example.demo.domain.UserEntity" resultMap="BaseResultMap" >
        SELECT 
       *
	   FROM usersxml
	   WHERE id = #{id}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.example.demo.domain.UserEntity" >
       INSERT INTO 
       		usersxml
       		(userName,passWord,user_sex) 
       	VALUES
       		(#{userName}, #{passWord}, #{userSex})
    </insert>
    
    <update id="update" parameterType="com.example.demo.domain.UserEntity" >
       UPDATE 
       		usersxml 
       SET 
       	<if test="userName != null">userName = #{userName},</if>
       	<if test="passWord != null">passWord = #{passWord},</if>
       	nick_name = #{nickName}
       WHERE 
       		id = #{id}
    </update>
    
    <delete id="delete" parameterType="java.lang.Long" >
       DELETE FROM
       		 usersxml 
       WHERE 
       		 id =#{id}
    </delete>

</mapper>